Checks: >
    bugprone-*,
    cert-*,
    misc-const-correctness,
    performance-*,
    -abseil-*,
    -altera-*,
    -android-*,
    -boost-*,
    -fuchsia-*,
    -google-*,
    -llvm-*,
    -llvmlibc-*,
    -zircon-*,
    -bugprone-easily-swappable-parameters,
    -cert-err60-cpp,
    -cppcoreguidelines-non-private-member-variables-in-classes,
    -misc-non-private-member-variables-in-classes,
    -modernize-use-trailing-return-type,
    -performance-avoid-endl,
    -performance-enum-size,
    -readability-function-cognitive-complexity,
    -readability-identifier-length,
HeaderFilterRegex:  ".*"
CheckOptions:
  - { key: performance-unnecessary-value-param.AllowedTypes, value: ((std::shared_ptr)) }
